.trunk
*.retry
*.scratch
scratch
test-inventory.ini
debug.yml
.tmp
!vault.yml*ansible_vault*
*.pub
*.key
.agent/log/
.ansible

# Molecule artifacts
.molecule/
.cache/
__pycache__/
*.pyc
.pytest_cache/
