[defaults]
inventory = inventories
roles_path = roles
host_key_checking = True
display_skipped_hosts = False
callbacks_enabled = profile_tasks
interpreter_python = auto_silent
vault_password_file = .vault_password
command_warnings = True
deprecation_warnings = True
nocows = 1
fact_caching = memory
hash_behaviour = replace

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False
