# Ansible and Molecule testing requirements
# Using latest versions - update regularly with: pip install --upgrade -r requirements.txt
ansible-core
ansible
ansible-lint
molecule
molecule-plugins[docker]
docker