# Sensitive variables for Packer
# DO NOT COMMIT THIS FILE (secrets.auto.pkrvars.hcl) TO VERSION CONTROL
ssh_password        = "your_ssh_password_here"
encryption_password = "your_encryption_password_here"
user_password       = "your_user_password_here"
user_ssh_key        = "ssh-ed25519 AAAAC3... user@example.com"
